html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

nav {
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: rgba(0, 19, 77, 0.8);
    background-size: cover;
    justify-content: flex-end;
    align-content: center;
}
nav img {
    float: left;
    width: auto;
    border-radius: 8%;
    margin-right: auto;
}
a {
    color: #f2f2f2;
    text-decoration: none;
}
nav a {
    font-size: 35px;
    font-weight: bold;
    color: #f2f2f2;
    text-decoration: none;
    padding: 0 15px;
    align-self: center;
    margin-right: 5%;
}
img {
    max-width: 100%;
}
#body {
    margin-top: 100px;
}

#landing {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 100px);
    box-sizing: border-box;
    width: 100%;
    height: 700px;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-gap: 15px;
    background-image: url("file:///home/salvadore/Downloads/codecademy/portfolio/resources/media/background.jpg");
    /* Linux file:///home/salvadore/Downloads/codecademy/portfolio/resources/media/background.jpg */
    /* Win file:D:/Downloads/projects/portfolio/resources/media/background.jpg */
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    justify-self: center;
    filter: drop-shadow(0 0 30px rgba(0, 19, 77));
}
#text {
    grid-area: 2 / 2 / span 2 / span 6;
    background-color: rgba(0, 19, 77, 0.8);
    height: fit-content;
    padding: 0 10px 20px 10px;
}

#landing .header, p {
    justify-content: center;
    align-self: center;
    color: #f2f2f2;
    grid-area: 1 / 2 / span 2 / span 6;
    text-align: center;
}
h1 {
    grid-area: 1 / 2 / span 1 / span 6 !important;
    font-size: 50px;
    padding-bottom: 5px;
}
#landing p {
    grid-area: 2 / 2 / span 1 / span 6 !important;
    align-self: flex-end; 
    text-justify: auto;
    font-size: 29px;
}
#disponibles {
    padding: 20px 0;
    background-color:rgba(0, 19, 77);
    width: 100%;
}
#disponibles .header {
    text-align: center;
    padding: 20px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: #f2f2f2;
    font-weight: bold;
    font-size: 40px;
}
#pictures {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;
    max-width: 100%;
    height: 525px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:rgba(0, 19, 77);
}
#pictures figure {
    align-self: flex-end;
    justify-content: center;
}
#pictures img {
    max-width: 300px;
    height: auto;
    border-radius: 10%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
figcaption {
    color: #f2f2f2;
    text-decoration: none;
    text-align: center;
}
#plantel .header {
    text-align: center;
    padding: 20px;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    color: #f2f2f2;
    font-weight: bold;
    font-size: 40px;
}
#plantel {
    width: 100%;
    height: 700px;
    background-color:rgba(0, 19, 77);
}
#plantel img {
    max-width: 400px;
    height: auto;
    border-radius: 10%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
footer {
    height: 100px;
    background-color:rgba(0, 19, 77);
}
footer img {
    max-width: 80px;
    max-height: 80px;
}